/* --- COLORS --- */

$color-gray: #939597;
$color-gray-dark: #808080;
$color-blue: #1976d2;
$color-yellow: #f5df4d;

/* --- FONT WEIGHT --- */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
